name: 'Build'

# Check that your service repo is private if this service-framework repo is also private
# Sample permissions and concurrency config:
# permissions: write-all
# concurrency:
#   group: ci-workflow-${{ github.ref }}-${{ github.event_name }}
#   cancel-in-progress: true

on:
  workflow_call:
    inputs:
      cluster:
        description: 'Docker image directory'
        type: string
        default: core
      service:
        description: 'Service repo name'
        type: string
        required: true
      version:
        description: 'Release version'
        type: string
      file:
        description: 'Dockerfile path if not the default one'
        type: string
      cache:
        description: 'Enable buildx caching (experimental)'
        type: boolean
      runs-on:
        description: 'Type of machine to run the job on'
        type: string
        default: ${{ github.event.repository.private && 'self-hosted' || 'ubuntu-latest' }}
      push:
        description: 'Whether to push the built image'
        type: boolean
        default: true
    outputs:
      tag:
        description: 'Built tag'
        value: ${{ jobs.build.outputs.tag }}

env:
  IMAGE_REGISTRY: asia.gcr.io

jobs:
  build:
    runs-on: ${{ inputs.runs-on }}
    outputs:
      tag: ${{ steps.output.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Cache for buildx
        uses: actions/cache@v4
        id: cache
        if: ${{ inputs.cache }}
        with:
          path: .buildx-cache
          key: buildx-${{ inputs.file }}-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            buildx-${{ inputs.file }}-${{ runner.os }}-
      - name: Inject/extract cache into/from buildx
        uses: reproducible-containers/buildkit-cache-dance@5b81f4d29dc8397a7d341dba3aeecc7ec54d6361 # v3.3.0
        if: ${{ inputs.cache }}
        with:
          cache-map: |
            {
              ".buildx-cache/go/pkg": "/go/pkg",
              ".buildx-cache/root/.cache/go-build": "/root/.cache/go-build"
            }
          skip-extraction: ${{ steps.cache.outputs.cache-hit }}
      - uses: google-github-actions/auth@v3
        with:
          credentials_json: "${{ secrets.GCR_CREDENTIALS }}"
      - uses: google-github-actions/setup-gcloud@v3
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_REGISTRY }}/kyber-operation/${{ inputs.cluster }}/${{ inputs.service }}
          flavor: |
            latest=false
          tags: |
            type=semver,value=${{ inputs.version }},pattern=v{{version}}
            type=semver,value=${{ inputs.version }},pattern=v{{major}}.{{minor}}
            type=semver,value=${{ inputs.version }},pattern=v{{major}}
            type=ref,event=branch
            type=ref,event=tag
            type=raw,value={{branch}}-{{sha}},enable=${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
          labels: |
            kyber.network.schema-version=1.0
            kyber.network.name=${{ inputs.service }}
            kyber.network.version=${{ inputs.version }}
            kyber.network.vcs-ref=${{ github.sha }}
      - uses: docker/build-push-action@v6
        with:
          file: ${{ inputs.file }}
          push: ${{ inputs.push }}
          build-args: |
            GH_USER=kyber-ci-bot
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          secrets: |
            "gh_pat=${{ secrets.GH_PAT }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - id: output
        name: Output tag and build summary
        env:
          TAGS: ${{ steps.meta.outputs.tags }}
        run: |
          <<<"$TAGS" sed -nE '0,/.+:(v[0-9]+(\.[0-9]+){2}.*|[a-zA-Z0-9._~?+=-]+-[a-z0-9]{7,}|[a-zA-Z0-9._~?+=-]+)$/s//tag=\1/p' | tee -a $GITHUB_OUTPUT
          echo -e 'Image tags: \n```\n'"$(<<<"$TAGS" tr ' ' '\n')"'\n```' >> $GITHUB_STEP_SUMMARY
