name: 'Release'

# Check that your service repo is private if this service-framework repo is also private
# Sample concurrency config:
# concurrency:
#   group: ci-workflow-${{ github.ref }}-${{ github.event_name }}
#   cancel-in-progress: true

on:
  workflow_call:
    inputs:
      cluster:
        description: 'Docker image directory'
        type: string
        default: core
      service:
        description: 'Service repo name'
        type: string
        required: true
      service_name:
        description: 'Service name in repo release title. Default to service'
        type: string
      version_bump:
        description: 'Version bump type'
        type: string
        default: patch
      version:
        description: 'Release version (optional, overrides version_bump)'
        type: string
      file:
        description: 'Dockerfile path if not the default one'
        type: string
      create_tag:
        description: 'Whether to create tag and release'
        type: boolean
        default: true
      release_name:
        description: 'Custom release name'
        type: string
      release_body:
        description: 'Custom release body'
        type: string
      runs-on:
        description: 'Type of machine to run the job on'
        type: string
        default: ${{ github.event.repository.private && 'self-hosted' || 'ubuntu-latest' }}

jobs:
  prepare:
    runs-on: ${{ inputs.runs-on }}
    outputs:
      build: ${{ steps.build.outputs.build }}
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
      - id: build
        name: Check whether to build
        run: echo "build=${{ hashFiles(inputs.file || 'Dockerfile') != '' }}" >> "$GITHUB_OUTPUT"
      - id: bump
        name: Generate next semver version
        if: inputs.version == ''
        uses: docker://ghcr.io/ngokimphu/github-tag-action:1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          DEFAULT_BUMP: ${{ inputs.version_bump }}
          WITH_V: true
          RELEASE_BRANCHES: '.*'
          DRY_RUN: true
      - id: version
        name: Set version to release
        env:
          VERSION: ${{ inputs.version || steps.bump.outputs.new_tag }}
        run: echo "version=v${VERSION#v}" >> "$GITHUB_OUTPUT"
  build:
    needs: prepare
    if: needs.prepare.outputs.build == 'true'
    uses: ./.github/workflows/build.yaml
    with:
      cluster: ${{ inputs.cluster }}
      service: ${{ inputs.service }}
      version: ${{ needs.prepare.outputs.version }}
      file: ${{ inputs.file }}
      runs-on: ${{ inputs.runs-on }}
    secrets: inherit
  tag:
    runs-on: ${{ inputs.runs-on }}
    needs: [prepare, build]
    if: inputs.create_tag && !cancelled() && !failure()
    env:
      VERSION: ${{ needs.prepare.outputs.version }}
    steps:
      - uses: actions/checkout@v4
      - uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836 # v2.3.3
        with:
          body: ${{ inputs.release_body }}
          name: ${{ inputs.release_name ||
              format('{0} {1}', inputs.service_name || inputs.service, env.VERSION) }}
          tag_name: ${{ env.VERSION }}
          target_commitish: ${{ github.ref }}
          token: ${{ secrets.GH_PAT }}
          generate_release_notes: true
